.App {
  text-align: center;
  width:100%;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rightContainer {
  background-color: darkblue;
  color:white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.leftContainer {
  background-color: darkgrey;
  height:100vh;
  overflow:scroll;
  display: flex;
  width:50%;
  flex-direction:row;
  flex-wrap:wrap;
}

.imageBox {
  width: 33.3%;
  height: 300px;
  overflow: hidden;
}

.imageBox img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
